.cnt {
  padding: 1.5rem;
  background-color: #ffffff;
}

thead {
  background-color: #1890ff;
}

.search {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle::after {
  display: block;
}
