.add-new-event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .modalBackground {
    width: 100vw;
    height: 75vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.modalContainer {
    width: 500px;
    height: fit-content;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .modal-footer button {
    width: 150px;
    height: 45px;
    margin: 5px;
    border: none;
    background-color: #8248de;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.modalContainer .modal-footer button:hover {
    background-color: #e1c5ff;
}

#cancelBtn {
    background-color: crimson;
}
#cancelBtn:hover {
    background-color: rgb(216, 83, 110);
}

.inputTextFields{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.selectContainerModal{
    margin: 20px 0 20px 0; 
    padding: 5px;
    display: flex;
    align-items: center;
}