.searchInputs {
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100%;
  /* border-bottom: 2px solid gray; */
}

.searchIcon {
  height: 60px;
  width: 50px;
  display: grid;
  place-items: center;
  display: flex;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

/* .dataResult::-webkit-scrollbar {
    display: none;
} */

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

/* a:hover {
    background-color: lightgrey;
} */

#clearBtn {
  cursor: pointer;
}
.selectedEmployeesContainer {
  color: white;
  padding: 10px 10px;
  display: flex;
}
.selectedEmployees {
  background-color: #8248de;
  border: 1px solid;
  width: fit-content;
  margin-right: 15px;
  padding: 10px;
}
.remove-icon:hover {
  color: #e1c5ff;
  border: 3px solid #8248de;
  cursor: pointer;
}
