/* .header{
    border-bottom: 1px solid;
    padding: 10px;
    background-color: #e9ecef;
} */
/* .all-meeting-row{
    padding: 10px;
    border: 1px solid gray;
}
.link a{
    color: #8248de;
    font-weight: 500;
} */
.loading{
    /* margin-left: 30%;
    margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .all-meetings-table{
    width: 100%;
} */
.delete-icon{
    color: #e1c5ff !important;
}
.delete-icon:hover{
    color: #8248de;
    cursor: pointer;
}
.no-meetings{
    margin-left: 20%;
}