.addMeetButtonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.addMeetButton{
	width: 150px;
    height: 45px;
    margin: 15px;
    border: none;
    /* background-color: cornflowerblue; */
    background-color: #e1c5ff;
    color: black;
    border-radius: 8px;
    font-size: 20px;
}
.addMeetButton:hover{
    background-color: #8248de;
    cursor: pointer;
}
/* table{
	margin-top: 20px;
}
table, td, th {
	border: 1px solid;
}
table {
	width: 100%;
	border-collapse: collapse;
} */